.Footer {
  .imgContainer {
    width: 100%;
  }

  .bottom {
    width: 100%;
    padding: 4vw;
    background-color: var(--bg4);
    align-items: flex-start;
    color: #f1f1f1;
    gap: 1vw;
  }
}

@media all and (max-width: 480px) {
  .Footer {
    .imgContainer {
      width: 100%;
    }

    .bottom {
      padding: 4vw;
      background-color: var(--bg4);
      align-items: center;
      color: #f1f1f1;
      gap: 1vw;
      p,
      address {
        text-align: center;
      }
    }
  }
}
